@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("./styles/css-variables.css");
@import url("./styles/helper.css");
@import url("./styles/header-section.css");
@import url("./styles/contact-us.css");
@import url("./styles/gallery.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  font-family: "Roboto", serif !important;
  color: var(--primary-font-color) !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.btn {
  font-family: "Roboto", serif !important;
}

.btn-primary {
  background-color: var(--primary-bg-color) !important;
  border: solid var(--primary-bg-color) 2px !important;
}

.btn-secondary {
  background-color: var(--secondary-bg-color) !important;
  border: solid var(--secondary-bg-color) 2px !important;
}
.btn-highlighted {
  background-color: var(--highlight-color) !important;
  border: solid var(--highlight-color) 2px !important;
}

.detail-list {
  list-style: none;
  padding: 0px;
}
.detail-item .list-icon-cntainer {
  font-size: 20px;
  width: 40px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.package-card-img-height {
  height: 235px !important;
}
.carousel-control-next,
.carousel-control-prev {
  width: 2% !important;
  color: black !important;
}

.carsoule-card {
  height: 450px !important;
}

/* .car-rentel-section{
    background-color: var(--highlight-color);
} */

.list-group-item {
    border: none !important;
}
.gallery-contact-section{}